body{direction: rtl;margin: 0px;}
header{
    background-color: rgb(18, 158, 53);}
#sitetitle{
    text-align: center;
    font-size: 50px;
    font-style: solid;}
main{
    background-color:rgb(57, 200, 152);
    text-align: center;
}

footer{
    background-color: green;
    width: 100%;
    height: 30px;
    text-align: center;
    }
#mainright{
    display: inline-block;
    background-color: rgb(26, 153, 26);
    width: 120px;
    text-align: center;}
#mainleft{
    background-color: rgb(196, 50, 147);
    display: inline-block;
    width: 67px;
    text-align: center;}
    